body {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: fixed;
  overflow: hidden;
  /* Verhindert Scrolling */
}

.imageContainer {
  width: 1200px;
  /* Feste Breite */
  height: 620px;
  /* Feste Höhe */
  object-fit: contain;
  /* Behält Seitenverhältnis bei */
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;

}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 10px 0;
}


/* Basis (mobile) */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* ab Tablet: nebeneinander */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container>.card {
    flex: 1 1 calc(33.333% - 1rem);
    /* drei Spalten */
    min-width: 220px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


.logout-btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}