* {
    font-family: Roboto;
}
.body {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 3vh;
    height: 90vh;
}

.main {
    float: left;
    width: 1200px;
    
}

.left .right {
    float: left;
    width: 300px;
}

@media screen and (max-width: 1200px) {
    .left,
    .main,
    .right {
        display: block; /* Block-Element - untereinander stapeln */
    }
}

.btn-primary {
    background-color: #006b99 !important;
    /* Neue Hintergrundfarbe */
    border-color: #006b99 !important;
    /* Neue Rahmenfarbe */
}

.bg-secondary {
    background-color: #6c757d !important;
    /* Neue Farbe */
}

body {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    width: 100%;
}

.wochentageBtn {
    width: 35px !important;
    height: 30px !important;
    padding: 0 !important;
    font-size: 14px !important;
}

.card-img-small {
    height: 140px;
    /* oder z.B. 20vh, je nach gewünschter Größe */
    width: auto;
    width: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.card-deck {
    height: 400px;
    padding: 5px;
}

.leftscrollbar {
    height: 100px;
    overflow: auto;
    direction: rtl;
}

.materialDesigne {
    padding-bottom: 0;
    height: auto;
}

.settings {
    float: initial;

}

.form-group {
    margin-top: 2vh;
}




/* Schlichte Custom Checkbox */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: #006c99;
    cursor: pointer;
}


#btnPosition button {
    width: 100%;
    height: 100%;

}

#btnPosition {
    margin: 0px !important;
    padding: 0px !important;

}

#deleteBtnForInfotherminal {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
}


@media (max-width: 1000px) {

    /* DIV-Element ausblenden, wenn die Bildschirmbreite kleiner oder gleich 768px ist */
    .bearbeiten {
        display: none;
    }
}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: initial;
    }
}

#anzeigeTerminal {
    border: black;
    border-radius: 10px;
}

.start-btn {
    border-width: 2px !important;
    border-color: 006c99 !important;
    border-radius: 8px !important;
    border: #006b99 !important;
    border-style: solid !important;
    color: #006b99 !important;
}

.navbuttons {
    width: 200px !important;
}

.marquee {
    max-width: 100vw;
    /* iOS braucht das */
    white-space: nowrap;
    overflow: hidden;
    /* hier evtl. noch font-size, color usw. */
}

.marquee span {
    display: inline-block;
    padding-left: 105%;
    /* die zusätzlichen 5% erzeugen einen verzögerten Start und vermeiden so ein Ruckeln auf langsamen Seiten */
    animation: marquee 10s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}



#datetimepicker1 {
    width: 90%;
    margin-bottom: 10px;
}

#datetimepicker2 {
    width: 90%;
    margin-bottom: 10px;
}

.parallelogram {
    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 5px 0 rgba(0, 0, 0, 0.19),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: #006c99;
    transform: skew(-35deg);
    width: 98%;
    margin-left: 1vw;
    z-index: -1;
    overflow: hidden;
    align-items: center;

}

.text {
    width: auto;
    color: aliceblue;
    font-weight: bold;
    transform: skewX(35deg);
    font-size: 4vh;
    margin: 0 auto;


}

label {
    margin-bottom: 0px
}

.start-btn:hover {
    background-color: #006b99 !important;
    color: white !important;
}

/* ...existing code... */

/* Neue Klasse für aktiven Button-Zustand */
.btn-active {
    background-color: #006b99 !important;
    color: white !important;
}

/* ...existing code... */

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: white !important;
    background-color: #006b99;
    border-color: #006b99;
}

#dokumente {
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #006b99 transparent;
    padding: 5px;


    height: 100%;
    width: 100%;
}

/* kleine, standardisierte Höhe für card/modal body */
/* kleine, standardisierte Höhe für card/modal body */



.clock {
    text-align: center;
}



.clock h1 {
    margin: 0;
    color: #333;
}

.clock p {
    margin: 10px 0 0;
    color: #666;
}

.displayIp {
    height: 12vh;
    /* max-width: 100px; */
    width: 100%;
    background-color: red;
    width: auto;
    padding: 5px;
    overflow: scroll;
}



.btnDisplay {
    font-size: 15px;
    width: 20vh;
    align-self: center;
}

hr {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

.vr {
    margin: 0;
    position: fixed;
}

.btn {
    width: 25vh;
    margin-left: 1vh;
    padding: 5px !important;
    height: auto;
    font-size: auto;


}

.links,
.mitte,
.rechts {
    width: 33.33%;
}

.materialDesigne {
    padding-bottom: 0px !important;
}

#IP_Adress {
    height: 100%;
    align-items: center;
}

#IP_Adresse_main {
    width: 40vh;
    float: left;
}



#anzeige {
    font-size: 2.5ch;
    padding-bottom: 10px;

}

#website-name {
    font-weight: bold;
}

#container_btn1 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.selectBtn {
    background-color: rgba(255, 255, 255, 0.952);
    border-color: #006b99;
    border-width: 2px !important;
    border-radius: 8px !important;
    width: 100%;
    height: 100%;
}

#container_btn2 {
    display: block;
    float: right;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.button_time {
    width: 50px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;

}

.button_time:hover {
    background-color: grey;
}

#tabelleDelete td {
    padding: 5px;
    /* rem verwenden */
}



.btn-custom-outline {
    border-color: #006b99 !important;
    background-color: rgba(255, 255, 255, 0.952) !important;
    color: #006b99 !important;
    transition: background-color .15s, color .15s;
}

.btn-custom-outline:hover,
.btn-custom-outline:focus {
    background-color: #006b99 !important;
    color: #fff !important;
}

.center-bottom {
    display: flex;
    justify-content: center;

    bottom: 1rem;
    /* Abstand vom unteren Rand anpassen (z.B. 1rem, 2vh, etc.) */
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
}

.card-img-small {}

.infobtn {
    width: 25px !important;
    height: 25px !important;
    padding: 1px !important;
}

.adddelLogoutbtn {
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
}

.infoterminalAddbtn {
    width: 2.5rem !important;
    height: 2.1rem !important;
    padding: 0px !important;
}

.trashBtn {
    width: 2.5rem !important;
    height: 1.9rem !important;
    border-radius: 0.25rem !important;
    border: 2px solid !important;
    inline-size: auto;
    padding: 7px !important;
    display: flex;
    justify-content: center;
    align-items: top;
}

.infoseiteSelect {
    background-color: #006c99;
    border: 2px solid #006c99;
    border-radius: 0.25rem;
}


.progress {
    height: 1vh;
    width: 500px;
}

@keyframes fill {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* Dauer wird per CSS-Variable --dur gesetzt */
.progress-bar.run {
    animation: fill var(--dur, 0ms) linear forwards;
}

#selectorInfoterminalForCards {
    margin-left: 5px;
    width: 280px;
    height: 2.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
}