.daterangepicker ltr show-calendar opensright {
    right: 100px;
    left: auto;
}

.modalBtn {
    width: 70%;
    height: auto;
    padding: 0px;
}


#showDateInCard {
    padding: 0;
    width: 100%;
    border: #000;
    text-align: center;
}

.hourselect {
    border-radius: 5px;
}

.minuteselect {
    border-radius: 5px;
}

select option {
    background-color: #ffffff;
    color: #333;
    font-size: 12px;
    line-height: 0.5;
    top: 100%;
}

select {
    position: relative;
}

select::after {
    content: '';
    position: absolute;
    top: 100%;
}

#zeitManagment {
    display: block;
}

.modalBtn {
    border-radius: 5px;
}

.file-input-button {
    height: 20px;
    width: 130px;
    border: none;
    text-align: center;
    line-height: 1000px;
    cursor: pointer;
    background-color: #f8f9fa;
    outline: none;
    overflow: hidden;
}



.image-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-preview {
    width: 100%;
    height: 100px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f0f0f0;
    cursor: pointer;
}

.image-preview img {
    max-height: max-content;
    max-width: max-content;
}

.imageInput {
    display: none;
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
}

.close:hover {
    color: #000;
}

.removePicBtn {
    position: absolute;
    left: 134px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 0px 3px 0px 3px;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.removePicBtn:hover {
    background-color: red;
    opacity: 1;
}

[id^="timerSelect"] {
    display: block;
}

[id^="infoBtn"] {
    display: none;
}

[id^="closeBtn"] {
    display: none;
    margin-left: -0.3px;
}

[id^="imagePreview"] {
    display: inline-block;
    overflow: hidden;
}

[id^="imagePreview"] img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}



[id^="imagePreview"] img:hover {
    transform: scale(1.2);
}

.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: auto;
    height: 7rem;
    border-radius: 3px 3px 0px 0px;
    background-color: ghostwhite;
    color: gray;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.upload-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5;
}

.picInCard img:hover {
    transform: scale(1.2);
    border-radius: 5px;
}

.upload-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.hidden-submit {
    display: none;
}

.btn-container {
    display: inline-block;
    position: relative;
}

.btn-select {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    display: none;
}

.minuteselect {
    max-height: 300px;
    overflow-y: auto;
    transform-origin: top !important;
    transform: translateY(0)
}

.hourselect {
    max-height: 300px;
    overflow-y: auto;
    transform-origin: top !important;
    transform: translateY(0)
}

.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('');
    padding-right: 1.5rem;
    position: relative;
}

.select-container {
    position: relative;
}

.form-range {
    appearance: none;
    width: 95%;
    height: 0px;
    background: #e9ecef;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
    background: linear-gradient(to right, blue 0%, blue var(--range-fill), white var(--range-fill), white 100%);
}

.form-range::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: relative;
    top: 100%;
    transform: translateY(-50%);
}

.btn.dropdown-toggle::after {
    display: none;
}

.carousel-item {
    height: 500px;
}

