<div class="modal fade" id="addInfoSeite" tabindex="-1" role="dialog" aria-labelledby="addInfoSeiteLabel">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addInfoSeiteLabel">Infoseite hinzufügen</h5>
            </div>
            <div class="modal-body">
                <form id="infoSeiteForm" method="post" enctype="multipart/form-data">
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                        <button  type="button" class="btn btn-success shadow-sm"
                            onclick="meow(selectItem.value)">
                            <i class="fas fa-plus me-2"></i> Hinzufügen
                        </button>
                    </div>
                    <div class="input-group form-group mb-3 mt-3">
                        <label class="input-group-text" for="inputGroupSelect01">Template</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option value="img">Bilder/Video</option>
                            <option value="yt">Youtube</option>
                            <option value="tempTest">Test 1</option>
                            <option value="tempSnackbar">Test 2</option>
                        </select>
                    </div>
                    <div id="templateContainer">
                        <div id="YoutubeContainer" class="hidden">
                            <label for="img" class="form-label">
                                <i class="fab fa-youtube me-2"></i> Link auswählen <span style="color:red">*</span>
                            </label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">URL:</span>
                                <input type="text" class="form-control" id="youtubeUrl" name="youtubeUrl"
                                    placeholder="Youtube Link eingeben" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <label for="img" class="form-label">
                                <i class="fab fa-youtube me-2"></i> Video Timestamp in Sekunden (optional)
                            </label>
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text">von</span>
                                <input type="text" id="start" class="form-control" placeholder="Sekunden" value=""
                                    aria-label="Sekunden" aria-describedby="addon-wrapping">
                                <span class="input-group-text">bis</span>
                                <input type="text" id="end" class="form-control" placeholder="Sekunden" value=""
                                    aria-label="Sekunden" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div id="dataiContainer" class="hidden form-group">
                            <label for="img" class="form-label">
                                <i class="fas fa-image me-2"></i> Bild auswählen <span style="color:red">*</span>
                            </label>
                        </div>
                        <div id="tempSnackbar" class="hidden form-group">
                            <label for="test1">Kopfzeile:</label>
                            <input type="text" class="form-control" id="test5" name="test5" placeholder="Titel">
                            <label for="test2">Inhalt:</label>
                            <div id="imageContainer" name="test2" placeholder="Inhalt"></div>
                            <label for="test3">Fußzeile:</label>
                            <input type="text" class="form-control" id="test6" name="test6" placeholder="Fußzeile">
                        </div>
                    </div>
                    <div id="inputContainer"></div>
                    <hr class="my-4">
                    <div class="mt-3 d-flex justify-content-center ">
                        <div class="form-group mb-3 mx-2 ">
                            <label for="title" class="form-label">
                                <i class="fas fa-tag me-2"></i> Name: <span style="color:red">*</span>
                            </label>
                            <input type="text" class="form-control" id="title" name="title" value=""
                                placeholder="Infoseite Name eingeben">
                        </div>
                        <div class="form-group mb-3 mx-2">
                            <label for="description" class="form-label">
                                <i class="fas fa-align-left me-2"></i> Beschreibung:
                            </label>
                            <textarea class="form-control" id="description" name="description" rows="1"
                                placeholder="Beschreibung eingeben"></textarea>
                        </div>
                        <div class="form-group mb-3 mx-2">
                            <label for="selectedTime" class="form-label">
                                <i class="fas fa-clock me-2"></i> Anzeigedauer:
                            </label>
                            <select class="form-select" id="selectedTime" name="selectedTime">
                                <option value="3000">3 Sekunden</option>
                                <option value="5000">5 Sekunden</option>
                                <option value="10000">10 Sekunden</option>
                                <option value="15000" selected>15 Sekunden</option>
                                <option value="20000">20 Sekunden</option>
                                <option value="25000">25 Sekunden</option>
                                <option value="30000">30 Sekunden</option>
                                <option value="45000">45 Sekunden</option>
                                <option value="60000">1 Minute</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="aktiv" class="form-label">
                                <i class="fas fa-toggle-on me-2"></i> Status:
                            </label>
                            <select class="form-select" id="aktiv" name="aktiv">
                                <option value="1">Aktiv</option>
                                <option value="0">Inaktiv</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .hidden {
        display: none !important;
        pointer-events: none !important;
        visibility: hidden !important;
    }
</style>
<script>
    var fileInput = document.getElementById('img');
    var selectItem = document.getElementById('inputGroupSelect01');
    var ytInput = document.getElementById('youtubeUrl');
    var Youtube = document.getElementById('YoutubeContainer');
    var datai = document.getElementById('dataiContainer');
    var tempSnackbar = document.getElementById('tempSnackbar');
    var tempTest = document.getElementById('tempTest');
    var inputContainer = document.getElementById('inputContainer');
    var imageContainer = document.getElementById('imageContainer');
    var listSelect = [Youtube, datai, tempSnackbar, tempTest];
    selectItem.addEventListener('change', function () {
        debugger
        var selectedValue = this.value;
        if (selectedValue === 'yt') {
            Template.selectTemplate('yt');
        } else if (selectedValue === 'img') {
            Template.selectTemplate('img');
        } else if (selectedValue === 'tempSnackbar') {
            Template.selectTemplate('tempSnackbar');
        } else if (selectedValue === 'tempTest') {
            Template.selectTemplate('tempTest');
        }
    });
  
    window.addEventListener("load", async function () {
        const templatebereich = document.getElementById("templateBereich");
        if (templatebereich !== null) {
            templatebereich.addEventListener("click", async function (event) {
                window.location.href = 'templatebereich.php';
            });
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        const selectItem = document.getElementById('inputGroupSelect01');
        selectItem.value = 'tempTest'; // setzt auf Bild
        Template.selectTemplate(selectItem.value);

    });
</script>